google-api-python-client
google-auth
google-auth-oauthlib
pandas
openpyxl
Flask
beautifulsoup4
gspread
google-auth-httplib2
python-dotenv
scikit-learn
joblib
flask-cors
flask-session
google-genai>=1.0.0
google-generativeai==0.8.3